# Dependencies
node_modules/
.pnp
.pnp.js

# Build output
dist/
build/
out/

# Binaries
bin/*.exe
bin/*.zip
bin/*.tar.gz

# IDE / System
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Electron
release/

# Uploads & Temp
backend/uploads/
backend/temp/
uploads/
temp/
